/* Tags */

body {
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Class */

.auth-heading {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.input-group-text {
    width: 3.5rem;
}


/* ID */

#login-body {
    text-align: center;
    max-width: 50%;
    margin: auto;
}

#auth-btn {
    max-width: 100%;
    padding: 6px 55px;
}

#register-body {
    text-align: center;
    max-width: 70%;
    margin: auto;
}

#reset-pass-body {
    text-align: center;
    max-width: 70%;
    margin: auto;
}

#sent-img {
    max-height: 40vh;
    max-width: 40vw;
}